* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.demo-title {
	position: absolute;
	width: 100%;
	background: #2e2f33;
	z-index: 2;
	padding: .7em 0;
}

.demo-title a {
	color: #fff;
	border-bottom: 1px dotted #a64ceb;
	text-decoration: none;
}

.demo-title p {
	color: #fff;
	text-align: center;
	text-transform: lowercase;
	font-size: 15px;
}

.demo-frame {
	background: url(frame.png) no-repeat;
	width: 854px;
	height: 658px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -329px 0 0 -429px;
	padding: 95px 20px 45px 34px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.demo-container {
	width: 100%;
	height: 530px;
	position: relative;
	background: #eee;
	overflow: hidden;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.dg.ac {
	z-index: 100 !important;
	top: 50px !important;
}

@keyframes myrotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#imgbox .rotate {
	width: 200px;
	height: 200px;
	background: url('../action1.png');
	background-size: cover;
	-webkit-animation: myrotate 9.5s infinite linear;
	-moz-animation: myrotate 9.5s infinite linear;
	-ms-animation: myrotate 9.5s infinite linear;
	-o-animation: myrotate 9.5s infinite linear;
	animation: myrotate 9.5s infinite linear;
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-ms-animation-play-state: running;
	-o-animation-play-state: running;
	animation-play-state: running;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.rect {
	border: 2px solid #a64ceb;
	left: -1000px;
	position: absolute;
	top: -1000px;
	transition: 1s;
}

.a-upload {
	padding: 0px 10px;
	height: 30px;
	line-height: 40px;
	height: 40px;
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	color: #4cbcef;
	/* background: #fafafa; */
	border: 1px solid #4cbcef;
	border-radius: 4px;
	text-decoration: none;
	overflow: hidden;
	display: inline-block;
	padding: 0px 10px;
	height: 30px;
	line-height: 40px;
	height: 40px;
	position: fixed;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	color: #4cbcef;
	/* background: #fafafa; */
	border: 1px solid #4cbcef;
	border-radius: 4px;
	text-decoration: none;
	overflow: hidden;
	display: inline-block;
}
.a-upload:hover{
	color: #4cbcef;
}

html {
	height: 100%;
	background: #000;
}

body {
	background: #000;
	;
	background-size: cover;
	height: 100%;
	border: 2px solid #4cbcef;
	box-shadow: 0 0 20px #55b8e4;
}

.a-upload input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}

.a-upload:hover {
	color: #444;
	background: #eee;
	border-color: #ccc;
	text-decoration: none
}

#imgbox {
	width: 200px;
	height: 300px;
	border: 1px solid #55b8e4;
	margin: 10px auto;
	overflow: hidden;
	box-shadow: 0 0 5px #55b8e4;
	position: relative;
	margin-bottom: 0;
}

#imgbox img {
	width: 100%;
}

.topbar {
	border: 1px solid #4cbcef;
	color: #4cbcef;
	box-shadow: 0 0 5px #55b8e4;
	line-height: 40px;
}

.text {
	    padding: 5px 10px;
    border: 1px solid #4cbcef;
    color: #4cbcef;
    width: 208px;
    font-size: 22px;
    box-shadow: 0 0 20px #55b8e4;
    text-align: center;
}

.box {
	padding: 5px;
	width: 222px;
	margin: 20px auto;
	border: 1px solid #4cbcef;
	box-shadow: 0 0 20px #55b8e4;
}

#pic {
	position: absolute;
	top: 0%;
	left: 0%;
	margin: 0;
}

#imgbox .scan {
	position: absolute;
	width: 400px;
	left: -103px;
	top: 19px;
	opacity: 0.6;
}

.jp {
	position: absolute;
	top: 349px;
	left: -100%;
	background: rgba(0,0,0,0.4);
	width: 300px;
	margin: 0 auto;
	color: #4cbcef;
	transform: translateX(-41%) rotate(-20deg);
	padding: 5px;
	font-size: 24px;
	font-weight: bold;
	transition: 1s;
}

.jp p {
	font-size: 24px;
	line-height: 30px;
	color: #4cbcef;
}

.active {
	left: 45%;
}

.jp .num {
	padding: 0;
	font-size: 16px;
	line-height: 30px;
}
html,body{width: 100%;height: 100%;}
.login{
	    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
    padding-top: 40px;
}
h3{text-align: center;margin-bottom: 50px;line-height: 40px;color: #0cceac;}
#abc{
	position: absolute;
	width: 720px;
	height: 1280;
	top: 0;
	left: 0px;
}
.facebox{
	position: absolute;
	border: 2px solid #FFFF00;
}
#lpkc{
	position: absolute;
	bottom: 5px;
	right: 20px;
	z-index: 1000;
	color: #6D6D72;
}
